*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DA RIMUOVERE */
.temp-style-1{
    height: 100%;
    background-color: orange;
    border: dashed 2px black;
}

/*********************************************/


/* HEADER */
header{
    width: 100%;
    height: 80px;
    background-color: red;
    position: fixed;
    z-index: 1;
}

.row-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col-header{
    width: 500px;
}