@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* COMUNI PER L'INTERA PAGINA*/
/* Contenitore grande*/
.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1080px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* Contenitore generale*/
.general .container{
    max-width: 901px;
}

/* Padding */
.padding-top-90{
    padding-top: 90px;
}

.padding-top-150{
    padding-top: 150px;
} 

.padding-top-50{
    padding-top: 50px;
}

/* Rimozione padding */
.no-padding{
    padding: 0;
}

/* Margini */
.no-margin{
    margin: 0;
}

.margin-20-top{
    margin-top: 20px;
}

.margin-50-top{
    margin-top: 50px;
}

.margin-40-top{
    margin-top: 40px;
}

.margin-150-top{
    margin-top: 150px;
}

.margin-50-bottom{
    margin-bottom: 50px;
}

.margin-right-200{
    margin-right: 200px;
}

.margin-right-20{
    margin-right: 20px;
}

/* Display */
.display-flex-center-y{
    display: flex;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/* Bordi delle colonne */
.border-column{
    border: solid 2px rgb(221, 221, 221);
}

/* Colore delle scritte */
.writing-grey{
    color: #7a7a7a;
}

/* Container privo di max-width */
.container-no-max{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* Pulsanti generali */
.general-btn{
    border: none;
    background-color: #0061FF;
    padding: 10px 15px;
    font-size: 15px;
    margin: 30px 0;
    color: white;
    transition-duration: 0.5s;
}

/* Gestione dei font */
.font-size-title{
    font-size: 80px;
    font-weight: 700;
}

.font-size-2d-title{
    font-size: 35px;
}

.font-size-3d-title{
    font-size: 25px;
}

.font-size-bigger{
    font-size: 35px;
    margin-right: 250px;
}

/* Dimensione testo titoli */
.sub-title{
    font-size: 40px;
}

/* Impostazione width 100% */
.width-100{
    width: 100%;
}

.space-btw{
    justify-content: space-between;
}

/* COLONNE */
.col-20{
    width: calc(100% / 5);
    position: relative;
}

.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;

}

.col-80{
    width: 75%;
}

.col-100{
    width: 100%;
    position: relative;
}


/* Aggiunta del bordo sotto */
.border-bottom{
    border-bottom: 2px solid rgb(221, 221, 221);
}


/* JUMBOTRON */
/* Sezione descrizione [JUMBOTRON] */
.jumbo-descr{
    font-size: 17px;
}

/* Freccia [JUMBOTRON] */
.jumbo-arrow{
    position: absolute;
    bottom: 70px;
}

/* Titolo [JUMBOTRON] */
.jumbo-title{
    font-size: 70px;
}

/* Sfondo [JUMBOTRON] */
.bg-jumbo{
    background-color: #B4D0E7;
    height: 800px;
}

/* Immagine [JUMBOTRON] */
.jumbo-img{
    width: 900px;
    margin-top: 0px;
}

/* PIANI */
/* Lista della colonna dei piani [PIANI] */
.highlights-plans-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

/* Allineamente con l'icona [PIANI] */
.highlights-plans-list li {
    padding-left: 1em;
    text-indent: -0.8em;
  }
  
.highlights-plans-list li:before {
    content: "";
    padding-right: 5px;
  }
  

/* HEADER */
header{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    color: rgb(48, 48, 48);
}

/* Pulsante SOLO header [HEADER] */
.header-btn{
    border: none;
    background-color: #0061FF;
    padding: 10px 25px;
    font-size: 15px;
    color: white;
    transition-duration: 0.5s;
}

/* Colonne dei due menù [HEADER] */
.col-header{
    width: 500px;
    display: flex;
}

/* Lista dei menù [HEADER] */
.menu-sx-ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-sx-li{
    margin-left: 20px;
}

/* Allineamento a destra del secondo menù [HEADER] */
.menu-align-flex-end{
    justify-content: flex-end;
    margin-right: 20px;
}


/* PIANI */
/* CHECKBOX STYLE */
/* Posizionamento delle checkbox [PIANI/CHECKBOX]*/
.checkbox-div {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;

    margin-right: 40px;
    margin-bottom: 12px;
    margin-top: 40px;
    padding-left: 25px;
}
  
/* Rimuove le checkbox di default [PIANI/CHECKBOX]*/
.checkbox-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Creazione della checkbox con lo stile [PIANI/CHECKBOX]*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.checkbox-div:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* Quando la checkbox è seleziona mette lo sfondo blu [PIANI/CHECKBOX]*/
.checkbox-div input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Creazione del cerchio per la checkbox attiva [PIANI/CHECKBOX]*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Mostra il cerchio quando la checkbox è attiva [PIANI/CHECKBOX]*/
.checkbox-div input:checked ~ .checkmark:after {
    display: block;
}
  
/* Stile dell'indicatore per la checkbox attiva [PIANI/CHECKBOX]*/
.checkbox-div .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

/* Colonne [PIANI] */
.col-plans-type{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-align{
    position: absolute; 
    bottom: 0;
}

/* Padding all'interno delle colonne [PIANI] */
.padding-plans{
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    font-size: 14px;
}

/* Allineamento dei pulsanti allo stesso livello */
.container-li-btn{
    width: 100%; 
    position: relative; 
    min-height: 400px; 
    margin-bottom: 20px;
}

/* Ridimensionamento testo per le informazioni [PIANI] */
.info-plan h3{
    font-size: 25px;
}

/* Ridimensionamento e gestione del testo per le info. prezzi [PIANI] */
.info-price{
    margin-top: 15px;
    line-height: 1.6;
    font-size: 15px;
}

/* Gestione del testo per il tipo di utente [PIANI] */
.type-user{
    margin-left: 5px;
    font-size: 17px;
}

/* Lista per i dettagli del piano [PIANI] */
.detailed-info-list{
    margin-top: 35px;
}

.detailed-info-list li{
    margin-bottom: 20px;
}

.fas{
    margin-right: 5px;
}

hr{
    margin: 30px 0;
}


/* Icona check nella lista [PIANI] */
.fa-check{
    color: rgb(0, 89, 255);
}

/* Mezza linea divisore dei dettagli [PIANI] */
.hr-plans{
    border: 1px solid gainsboro;
    width: 30%;
}

/* Gestione lista secondaria[PIANI] */
.highlights-plans-list{
    list-style: none;
}

.highlights-plans-list li{
    margin-bottom: 20px;
}

/* Titolo delle liste [PIANI] */
.highlights-plans-list li:nth-of-type(1){
    margin-bottom: 30px;
}

/* Padding nella colonna enterprise [PIANI/ENTERPRISE] */
.padding-enterprise{
    padding: 20px;
}

/* PARTNER */
/* Distanziamento della descrizione dall'immagine [PARTNER] */
.padding-partner{
    padding: 30px;
}

/* Pulsante "Trova un partner" [PARTNER] */
.partner-btn{
    margin-top: 30px;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid gray;
    transition-duration: 0.5s;
}


/* Padding del logo Designit nel quadrato principale [PARTNER] */
.padding-designit{
    padding: 50px;
}


/* BUSINESS */
/* Margine della sezione Business dalla sezione sovrastante [BUSINESS] */
.business{
    margin-top: 50px;
}

/* Margine della varie colonne [BUSINESS] */
.gap-column{
    gap: 20px;
}

/* Altezza automatica per le colonne contenenti la descrizione [BUSINESS] */
.auto-height{
    height: auto;
}

/* PARTNERS 2 */
/* Larghezza senza gap [PARTNERS 2] */
.no-gap-width{
    width: calc(100% / 3);
    display: flex;
}

/* Contenitori dei quadrati [PARTNERS 2] */
.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Contenitori dei quadrati [PARTNERS 2] */
.square{
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

/* Loghi dei partner [PARTNERS 2] */
.partners-logo{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Gestione dei colori per i quadrati [PARTNERS 2] */
.square-section-1 .square:nth-last-of-type(4){
    background-color: #A2D39B;
    border: solid 15px #D1E9CD; 
}

.square-section-1 .square:nth-last-of-type(3){
    background-color: #61082B;
}

.square-section-1 .square:nth-last-of-type(2){
    background-color: #0093CE;
}

.square-section-1 .square:nth-last-of-type(1){
    background-color: #FF1C1C;
}


.square-section-2 .square:nth-last-of-type(4){
    background-color: #D5001F;
}

.square-section-2 .square:nth-last-of-type(3){
    background-color: #B4D0E7;
}

.square-section-2 .square:nth-last-of-type(2){
    background-color: #0D2481;
}

.square-section-2 .square:nth-last-of-type(1){
    background-color: #FFD830;
}

/* Inversione dei colori per loghi bianchi [PARTNERS 2] */
.invert-img{
    filter: invert(1);
}

/* Gestione della dimensione del partner principale [PARTNERS 2] */
.designit-logo{
    width: 250px;
}

/* Sfondo del partner principale [PARTNERS 2] */
.designit-bg{
    background-color: #F5F5F5;
}

/* Prova gratuita [PARTNERS 2] */
.free-trial-bg{
    background-color: #B4D0E7;
    padding: 150px 0;
    color: #610829;
}

.white-btn{
    background-color: white;
    color: black;
    padding: 10px 40px;
}

/* FAQ */
/* Padding per ogni domanda [FAQ] */
.padding-y-faq{
    padding: 30px 0px;
    display: flex; 
    justify-content: space-between;
}

.fa-chevron-down{
    margin-right: 30px;
}

/* FOOTER */
footer{
    margin-top: 120px;
}

/* Padding verticale per le liste [FOOTER] */
.footer-list-div{
    padding: 200px 0;
}

/* Gestione delle liste [FOOTER] */
.footer-ul{
    list-style: none;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

.footer-ul li{
    line-height: 2;
    font-size: 14px;
}

/* Stile per l'hr [FAQ] */
.hr-faq{
    border: 1px solid grey;
    margin: 0;
}

/* Titolo della lista [FOOTER] */
.footer-ul li:nth-last-child(6){
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Sezione della lingua del sito [FOOTER] */
.language-site{
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 40px;
}

/* Sfondo nero [FOOTER] */
.bg-black{
    background-color: black;
}

.bg-black .container{
    max-width: 1200px;
}

/* Stile hr [FOOTER] */
.hr-footer{
    border: 1px rgb(200, 200, 200) solid; 
    width: 100px;
}

/* CLASSI PER IL BONUS */
.general-btn:hover{
    cursor: pointer;
    background-color: #2131be;
}

.header-btn:hover{
    cursor: pointer;
    background-color: #2131be;
}

.white-btn:hover{
    background-color: #d1d1d1;
}

.partner-btn:hover{
    cursor: pointer;
    background-color: #d1d1d1;;
}